*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.container{
    border: 1px solid lightgray;
    width: max-content;
    height: max-content;
    padding: 10px;
    margin-top: 2rem;
    margin-left: 28rem;
    border-radius: 15px;
    background-color: #000000;
    overflow-x: hidden;
}

.pantalla{
    height: 15rem;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid gray;
    color: white;
    overflow-x: hidden;
    white-space: nowrap; 
    text-align: right; 
    display: block;
}

#input {
    font-size: 2rem;
    overflow-x: hidden;
    white-space: nowrap; 
    text-align: right; 
    display: block;
    width: 100%; 
    transform: translateY(12rem);
}

#input.active{
    transform: translateY(10rem);
}


#output{
    font-size: 1.5rem;
    visibility: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: right;
    display: block;
    transform: translateY(10.5rem);

}

#output.active{
    visibility: visible;
}

.botones{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-block: .5rem;
}

.botones button:not(.operador){
    border: none;
    border-radius: 50%;
    width: 5rem;
    padding: 1rem;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    transition: .1s ease;
    font-weight: lighter;
}

.botones button:active{
    background-color: rgba(128, 128, 128, 0.283);
}


.operador{
    border: none;
    border-radius: 50%;
    width: 5rem;
    padding: 1rem;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    color: orange;
    transition: .1s ease;
    font-weight: lighter;
}